
html {
    height: 100%;
}

body {
    font-family: 'Mukta', sans-serif;
    height: 100%;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    line-height: 1.5em;
}

h2 {
    font-size: 2em;
    font-weight: bold;
    line-height: 1.3em;
}


a {
    color: $white;
}

#root {
    height: 100%;
}

#app {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.flex-box {
    width: 100%;
    display: flex;
    box-sizing: border-box;
}

.flex-vertical-container {
    flex-grow: 1;
    align-items: center;
}

.img-container {
    display: flex;
    align-items: center;
    img {
        height: 100%;
        margin: auto;
    }
}

.background {
    @include peach-gradient;
    position: fixed;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    z-index: -1;
}

.button {

    font-family: 'Mukta', sans-serif; 
    border-radius: 20px 0 20px 0;
    padding: 5px 30px;
    @include black-gradient;

    @include small-shadow;

    button {
        color: $white;
        border: 0;
    }

}