main {
    h2 {
        line-height: 3em;
        color: $black;
        padding-left: 15px;
    }
    flex-grow: 1;
}

.dashboard {
    width: 100%;

    padding: 0 7px;

    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    flex-wrap: wrap;
    align-content: flex-start;

    max-height: 100%;

}

.poke-container {
    width: 90%;
    margin: 15px;
    height: 200px;
    border-radius: 0 30px 0 30px;
    @include normal-shadow;
    display:flex;
    flex-direction: column;
    background-image: linear-gradient(176deg, rgba($container-gradient2, 0.7), rgba($container-gradient1, 0.7));

    .poke-name {
        font-size: 1.4em;
        font-weight: bold;
        color: white;
        padding: 15px;
        border-radius: 0 30px 0 0;
        background-image: linear-gradient(176deg, $black-gradient2, $black-gradient1);
    }

    
    &:first-of-type {
        margin-top: 0px;
    }
}

.content-container {
    
    flex-grow: 1;

    align-items: center;
    justify-content: space-around;

    .poke-icon-container {

        width: 115px;
        height: 115px;

        img {
            filter: drop-shadow(4px 4px 4px $black);
            -webkit-filter: drop-shadow(4px 4px 4px $black);
        }
    }

    .poke-info {
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .poke-function {
            height: 100%;
            flex-grow: 1;
        }

        .poke-definitions {

            justify-content: space-evenly;
            align-items: baseline;

            .level-display {
                
                width: initial;

                flex-direction: column;
                box-sizing: border-box;
                justify-content: center;

                color: $white;
                padding: 0.1em 1em;

                background-image: linear-gradient(176deg, rgba($black-gradient2, 0.7), rgba($black-gradient1, 0.7));
                border-radius: 0 20px 20px 20px;

                .level-title {
                    font-size: 1.6em;
                    font-weight: bold;
                }

                .level-value {
                    font-size: 1.4em;
                }

            }

            .poke-types {

                width: initial;
                flex-direction: column;
                justify-content: center;
                align-items: center;   


                .type {
                    width: 90px;
                    padding: 3px;
                    margin: 5px;
    
                    color: $white;
    
                    text-align: center;
    
                    border-radius: 7px;
    
                    background-color: green;
    
                    @include small-shadow;
                    
                }
            }

        }

        .poke-utility {
            flex-grow: 1;
            align-items: center;

            span {
                padding: 5px;
                font-size: 1.15em;
            }

            .item {
                background-color: $white;
                border-radius: 50px;
                margin-right: 5px;
            }

        }

    }

}