footer {
    width: 100%;
    @include black-gradient;
    color: $white;
    margin-top: 40px;

    padding:20px 0;

    display: flex;
    justify-content: space-around;
    align-items: center;

    text-align: center;

    .footer-info {
        width: 33%;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        
        a {
            line-height: 1.3em;
        }

        &:nth-child(n+2) span:first-child {
            font-weight: bold;
            padding-bottom: 10px;
            border-bottom: 1px solid $white;
            margin-bottom: 10px;
        }


    }

}