/* Title Header */

header {
    background-image: linear-gradient(160deg, $header-gradient1, $header-gradient2);
    color: $white; 
    align-items: center;
    justify-content: space-between;
    padding: 20px 3%;

    position: relative;

    @include inverted-shadow;

    h1 {
        font-size: 2.4em;
        text-align: center;
        line-height: 1.2em;
    }

    z-index: 2;

}

.logo {
    height: 100px;
}