@mixin inverted-shadow {
    -webkit-box-shadow: 1px -6px 16px 1px $black;
    -moz-box-shadow: 1px -6px 16px 1px $black;
    box-shadow: 1px -6px 16px 1px $black;
}

@mixin normal-shadow {
    -webkit-box-shadow: 4px 6px 19px -3px $black;
    -moz-box-shadow: 4px 6px 19px -3px $black;
    box-shadow: 4px 6px 19px -3px $black;
}

@mixin small-shadow {
    -webkit-box-shadow: 1px 1px 6px 0px rgba($black, 0.7);
    -moz-box-shadow: 1px 1px 6px 0px rgba($black, 0.7);
    box-shadow: 1px 1px 6px 0px rgba($black, 0.7);
}