/* Coolors Exported Palette - coolors.co/264653-2a9d8f-e9c46a-f4a261-e76f51 */


$white: #EFEFEF;
$grey: #D6D6D6;
$black: #2D2D2D;
$darkerblack: #111111;
$transparent: rgba(0, 0, 0 ,0);

$pink: #FF9F9C;
$darkpink: #B35E5B;
$wine: #804F4E;
$darkwine: #402827;

$yellow: #FDFFB5;
$darkyellow: #FFCE82;
$darkeryellow: #E6B975;

$blue: #82C6FF;
$darkblue: #585BBF;