/* Coolors Exported Palette - coolors.co/264653-2a9d8f-e9c46a-f4a261-e76f51 */


$white: #EFEFEF;
$black: #2D2D2D;
$transparent: rgba(0, 0, 0 ,0);

$pink: #FF9F9C;
$darkpink: #B35E5B;
$wine: #804F4E;
$darkwine: #402827;
$yellow: #FDFFB5;

$blue: #82C6FF;
$darkblue: #7579FF;

$header-gradient1: $wine;
$header-gradient2: $darkwine;

$dashboard-gradient1: $yellow;
$dashboard-gradient2: $darkpink;