.user-toolbar {
    width: 100%;
    display: flex;
    background-color: $white;
    justify-content: space-between;
    padding: 10px 0;
    padding-left: 50px;
    position: relative;
    z-index: 1;
    box-sizing: border-box;

    border-radius: 0 0 0 50px;


    @include inverted-shadow;

}

.user-button {
    flex-grow: 1;
    text-align: center;
    padding: 8px;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
        margin-top: 0.4em;
    }

    border-left: 2px solid $black;
}
